.containerResult{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(590px, 590px));
    grid-auto-rows: 400px;
    padding: 10px;
    grid-gap: 50px;
    margin-top: 20px;
}

.backgroundImgR{
    width: 598px;
    height: 280px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.eachGameR{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    text-align: center;
    list-style: none;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,142,65,1) 41%, rgba(34,161,53,1) 65%, rgba(2,0,36,1) 100%);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    transition: all 0.3s ease;
}

.eachGameR:hover{
    transform: scale(1.02);
}

.gameNameR{
    margin-top: 50px;
    color: white;
    text-transform: uppercase;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}