.containerResult{
    grid-gap: 50px;
    display: grid;
    grid-auto-rows: 430px;
    grid-template-columns: repeat(auto-fit,minmax(0,500px));
    margin-top: 20px;
    padding: 10px;
    justify-content: space-evenly;
    justify-items: stretch;
    align-content: center;
}

.backgroundImgR{
    width: 100%;
    height: 70%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.eachGameR{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    text-align: center;
    list-style: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,142,65,1) 41%, rgba(34,161,53,1) 65%, rgba(2,0,36,1) 100%);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    transition: all 0.3s ease;
}

.eachGameR:hover{
    transform: scale(1.02);
}

.gameNameR{
    color: white;
    text-transform: uppercase;
    height: 100px;
    text-align: center;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
}

@media (max-width: 600px) {
    .containerResult{
        grid-template-columns: repeat(auto-fit,minmax(360px,360px));
    }
    .backgroundImgR{
        width: 360px;
    }
    .eachGameR{
        width: 360px;
    }
    .gameNameR{
        width: auto;
    }
}