.containerAbout{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.myPhoto{
  border-radius: 50%;
  width: 30rem;
  height: auto;
  border: 5px solid white;
  align-self: center;
  margin-top: 50px;
}

.AboutMeContainer {
  background-image: url('../../assets/images/tazaJS.png');
  z-index: -1;   
}

.aboutMeTitle{
    margin-top: 30px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #a2ff20;
    text-transform: uppercase;
}

.aboutMeTitle:hover{
  color: #9acb28;
  transition: all .5s;
}

.aboutMeText{
  font-family: 'Fredoka', sans-serif;
  color: #ffff;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.aboutMeTextContainer{
  width: 50%;
  height: auto;
  align-self: center;
  border: 3px solid white;
  background-color: grey;
}

.containerReLoco{
  color: white;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.socialMediaContainer{
    display: flex;
    flex-direction: row;
    color: #ffff;
    list-style: none;
    align-self: center;
}

.eachMedia{
  font-size: 15px;
  font-family: 'Fredoka', sans-serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}

.titleMedia{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #a2ff20;
  text-transform: uppercase;
  font-size: 30px;
}

.eachMediaText{
  color: #a2ff20;
}

.eachMediaText:hover{
  color: #a2ff20;
}
a {
  font-size: 20px;
}

@media (max-width: 768px) {
  .socialMediaContainer{
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
  }
  .myPhoto{
    width: 20rem;
  }
  .aboutMeTitle{
    font-size: 25px;
  }
  .aboutMeTextContainer{
    width: 95%;
    height: auto;
    padding: 1rem;
  }
}