.containerGames{
    grid-gap: 50px;
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(auto-fit,minmax(590px,590px));
    margin-top: 20px;
    padding: 10px;
    justify-content: space-evenly;
    justify-items: stretch;
    align-content: center;
}

.backgroundImg{
    width: 590px;
    height: 280px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.eachGame{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    text-align: center;
    list-style: none;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,142,65,1) 41%, rgba(34,161,53,1) 65%, rgba(2,0,36,1) 100%);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    transition: all 0.3s ease;
}

.eachGame:hover{
    transform: scale(1.02);
}

.flexContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainer{
    text-align: center;
    border-radius: 30px;
    padding:7px;
    background: linear-gradient(0deg, rgba(34,195,82,1) 0%, rgba(94,253,45,1) 100%);
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    width: 25rem;
}

.gameName{
    color: white;
    text-transform: uppercase;
    width: 590px;
    height: 100px;
    text-align: center;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .containerGames{
        grid-template-columns: repeat(auto-fit,minmax(360px,360px));
    }
    .backgroundImg{
        width: 360px;
    }
    .eachGame{
        width: 360px;
    }
    .gameName{
        width: auto;
    }
}