html, body {
  height: 100%;
}

.fdp {
  width: 100vw;
  height: 100vh;
  background-image: url('../ABG-Logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.containerLand {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerLand div {
    color: #a2ff20;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
    transition: all .5s;
    align-items: center;
    padding-top: 10px;
    text-transform: uppercase;
}

div:hover{
    color: #9acb28;
    transition: all .5s;
}

.botonsitox {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, #74b41c 0%, #74b41c 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(45, 156, 54, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-top: 35%;
    align-self: center;
    }
  
  .botonsitox::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #7fce90;
    box-shadow: 0 0 60px rgba(35, 99, 110, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .botonsitox:hover, .botonsitox:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .botonsitox:hover::before, .botonsitox:focus::before {
    opacity: 1;
  }
  
  .botonsitox::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #9acb28;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .botonsitox:hover::after, .botonsitox:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }