.containerHome{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.logardoContainer{
    height: 350px;
    width: 100vw;
    object-fit: cover;
    border-bottom: 3px solid white;
    margin-bottom: 15px;
}

.textHomeContainer{
    text-align: center;
    color: white;
    width: 100px;
    align-self: center;
    margin: 10px auto;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    box-shadow: rgba(46, 240, 95, 0.4) 0px 5px, rgba(46, 240, 95, 0.3) 0px 10px, rgba(46, 240, 95, 0.2) 0px 15px, rgba(46, 240, 95, 0.1) 0px 20px, rgba(46, 240, 95, 0.05) 0px 25px;
}
