.TrendContainer{
    grid-gap: 50px;
    display: grid;
    grid-auto-rows: 430px;
    grid-template-columns: repeat(auto-fit,minmax(0,500px));
    margin-top: 20px;
    padding: 10px;
    justify-content: space-evenly;
    justify-items: stretch;
    align-content: center;
}

.bgImgTrend{
    width: 100%;
    height: 70%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.eachGameTrend{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    text-align: center;
    list-style: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,142,65,1) 41%, rgba(34,161,53,1) 65%, rgba(2,0,36,1) 100%);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    transition: all 0.3s ease;
}

.eachGameTrend:hover{
    transform: scale(1.02);
}

.paginationContainer{
    color: yellow;
}

.nameContainerTrend{
    color: white;
    text-transform: uppercase;
    height: 100px;
    text-align: center;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.xDnt{
    width: 250px;
    align-self: center;
    text-align: center;
    margin: 25px auto;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: rgba(46, 240, 95, 0.4) 0px 5px, rgba(46, 240, 95, 0.3) 0px 10px, rgba(46, 240, 95, 0.2) 0px 15px, rgba(46, 240, 95, 0.1) 0px 20px, rgba(46, 240, 95, 0.05) 0px 25px;
}

@media (max-width: 600px) {
    .TrendContainer{
        grid-template-columns: repeat(auto-fit,minmax(360px,360px));
    }
    .bgImgTrend{
        width: 360px;
    }
    .eachGameTrend{
        width: 360px;
    }
    .nameContainerTrend{
        width: auto;
    }
}
